__pycache__/
*.pyc

.venv/
.venv-ft/ # Virtual environment directory for feature tests (the author is using testing python version)

.vscode/
.lh/
HypingData/

*.egg-info/

.ruff_cache/
.mypy_cache/

.DS_Store
